<ion-header>
  <ion-toolbar>
    <ion-title>Ennoncé tpQuizz Eni 2018-2019</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button color="primary" [routerLink]="['/home']" size="small">Retour</ion-button>
  <div id="ennonce">
    <h3>TP final</h3>

    <h4>Objectif</h4>

    Réaliser une application ludique permettant de répondre à une série de 10
    questions.

    <h4>Spécifications</h4>

    <h5>Etape 1</h5>
    <ul>
      <li>
        Développer une première page permettant de sélectionner un nombre de
        questions entre 5 et 10, et un niveau de difficulté (facile, moyen
        difficile)
      </li>
      <li>
        Un bouton "C'est parti" envoie sur la page de quizz en transportant les
        paramètres saisis dans le formulaire
      </li>
    </ul>

    <h5>Etape 2</h5>
    <ul>
      <li>
        Développer un provider "QuizzProvider" qui expose une méthode "getQuizz"
        qui récupère une liste de X questions depuis l'API OpenTrivia, selon un
        niveau de difficulté
      </li>
      <li>
        La méthode "getQuestions" doit renvoyer un tableau de questions ou
        renvoyer une erreur
      </li>
      <li>
        La documentation de l'API OpenTrivia se trouve à l'adresse suivante :
        `https://opentdb.com/api_config.php`
      </li>
    </ul>
    <h5>Etape 3</h5>
    <ul>
      <li>
        Développer une page qui appelle le provider "QuizzProvider" en fonction
        des paramètres donnés à l'écran suivant et qui propose le gameplay
        suivant :
      </li>
      <li>
        La question s'affiche, ainsi que les réponses (attention, il existe deux
        types de questions !) et un chronomètre de 5s
      </li>
      <li>
        Le chronomètre se déclenche instantannément et jusqu'à ce que le joueur
        clique sur une réponse ou que le temps soit écoulé
      </li>
      <li>Si le joueur répond, on lui indique s'il a correctement répondu</li>
      <li>
        Si le chronomètre est écoulé, on lui indique qu'il a dépassé le temps
      </li>
      <li>
        Dans tous les cas, les boutons sont désactivés si le joueur répond ou si
        le temps est écoulé
      </li>
      <li>
        Un bouton "Question suivante" permet ensuite de passer à la question
        suivante. Ce bouton est caché dès que la question suivante est affichée
      </li>
      <li>
        A la fin des X questions, le score du joueur est affiché et un bouton
        permet de retourner à l'écran principal
      </li>
    </ul>
    <h5>Etape 4</h5>
    <ul>
      <li>
        Enregistrer tous les scores du joueurs dans le localstorage te lui
        présenter ses 10 derniers résultats dans l'écran principal
      </li>
    </ul>
    <h5>Etape 5</h5>
    <ul>
      <li>
        Lorsque le score est présenté, proposer au joueur de partager ce score à
        l'aide du plugin social et de se prendre en selfie
      </li>
    </ul>
  </div>
  <ion-button color="primary" [routerLink]="['/home']" size="small">Retour</ion-button>
</ion-content>
