#difficulty{
    text-transform: uppercase;
   
}
#category{
    color: green;
    font-weight: bold;
}
#idQuestion{
    color: cornflowerblue;
    padding: 15px;
}
#question{
    padding: 15px;
    font-size: 18px;
}

.list .item-radio .radio-icon {
    background-color:crimson;
    color: white;
  }


