<ion-header>
  <ion-toolbar>
    <ion-title>Baptiste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button color="primary" [routerLink]="['/home']" size="small">Retour</ion-button>
  <div id="author">
    <h4>Hello</h4>
    <p><strong>Contact</strong> baptiste.baume2018@campus-eni.fr</p>
    <p><strong>Website :</strong> https://www.myfakergenerator.com</p>
    <p><strong>Api :</strong> https://api.myfakergenerator.com</p>

    <h5>Remerciement</h5>
    <p>Je tiens à remercier toute la promo pendant ces mois de formations :</p>
    <ul>
      <li>Jean-Seb AKA Joao-Sebastao</li>
      <li>Ophelie AKA J'comprendspasçamarchepas</li>
      <li>Charazed AKA Bonjour</li>
      <li>Alexandra AKA Queen-codeuse</li>
      <li>Caroline AKA 16h47</li>
      <li>Claudine AKA dine-clo AKA nonmaiscliquelà AKA tuveuxquejetedebug?</li>
      <li>Justin AKA Stin-ju AKA ctrl+c ctrl+v</li>
      <li>
        Ludovic AKA Ludorigamie AKA Le parrain de quimper AKA le gars qui
        connait tous le monde
      </li>
      <li>Laurent AKA cetaitpasmaquestion</li>
      <li>Adrien AKA le kilt</li>
      <li>Aurélien AKA les écolos c'est des connards</li>
      <li>Nadège AKA Queen-codeuse #2</li>
      <li>
        Stephane AKA
        fautpasqueleformateurparletropderrièreluinitropfortquandilestdevant
      </li>
      <li>Véronique AKA CSS experte</li>
      <li>Nhung AKA THE MOST COURAGEOUS WOMAN IN BRITTANY</li>
      <li>Florian AKA THE MASTER</li>
    </ul>
  </div>
  <ion-button color="primary" [routerLink]="['/home']" size="small"
    >Retour</ion-button
  >
</ion-content>
