<ion-item>
  <ion-label>Nombre de quesion</ion-label>
  <ion-select
    value="brown"
    okText="Okay"
    cancelText="Dismiss"
    [(ngModel)]="nbQuestion"
  >
  <ion-select-option value="1">1</ion-select-option>
  <ion-select-option value="2">2</ion-select-option>
    <ion-select-option value="5">5</ion-select-option>
    <ion-select-option value="6">6</ion-select-option>
    <ion-select-option value="7">7</ion-select-option>
    <ion-select-option value="8">8</ion-select-option>
    <ion-select-option value="9">9</ion-select-option>
    <ion-select-option value="10">10</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label>Difficulté</ion-label>
  <ion-select
    value="brown"
    okText="Okay"
    cancelText="Dismiss"
    [(ngModel)]="difficulty"
  >
    <ion-select-option value="easy">Facile</ion-select-option>
    <ion-select-option value="medium">Moyen</ion-select-option>
    <ion-select-option value="hard">Difficile</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-button color="primary" (click)="onClick()" expand="full">C'est parti mon KIKI !</ion-button
  >
</ion-item>

